{# templates/_modal_base.html.twig #}

<div class="modal-header">{% block modal_header %}{% endblock %}</div>
<div class="modal-body">{% block modal_body %}{% endblock %}</div>
<div class="modal-footer">{% block modal_footer %}{% endblock %}</div>
