<div class="modal-header">
</div>
<div class="modal-body">
  <p>{{ message }}</p>
  <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
</div>
<div class="modal-footer"></div>
