{# templates/_SectorModal.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
  <div >
    <h3>UWP</h3>
    <p>{{ uwp }}</p>
  </div>
  <div>
    <h3>Mainworld Type</h3>
    <p>{{ mw_type }}</p>
  </div>
  <div>
    <h3>Climate</h3>
    <p>{{ climate }}</p>
  </div>
{% endblock %}
