{# templates/_ShiftDetailsModal.html.twig #}

{% extends '_modal_base.html.twig' %}

{% block modal_header %}
  <h1 class="modal-title fs-5" id="shiftDetailsModalLabel">Shift Details</h1>
{% endblock %}
{% block modal_body %}
  
{% endblock %}
