{# templates/main.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Schedule{% endblock %}

{% block body %}
  <table class="table">
    <thead>
      <th scope="col">Shift</th>
      <th scope="col">CPC</th>
    </thead>
    <tbody>
      {% for shift, controllers in schedule %}
        <tr>
          <th scope="row">{{ shift }}</th>
          <td>
            {% for controller in controllers %}
              <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" style="min-width: 100px;" data-bs-toggle="dropdown" aria-expanded="false">{{ controller }}</button>
                <ul class="dropdown-menu">
                  <li><button class="dropdown-item" hx-get="/shiftRequest?employee={{ controller }}" hx-target="#modal-content" hx-include="[name='date']">Request Shift Change</button></li>
                  <li><a class="dropdown-item" href="#">Request Leave</a></li>
                  <li><a class="dropdown-item" href="#">Add Remark</a></li>
                  <li><a class="dropdown-item" href="#">Add Team Brief</a></li>
                  <li><a class="dropdown-item" href="#">View Details</a></li>
                </ul>
              </div>
            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="hidden" name="date" value="{{ date }}"/>
  <div class="modal fade" id="modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" id="modal-content">
      </div>
    </div>
  </div>
  <script>
    document.body.addEventListener('modalContentReceived', function(evt) {
      const modal = new bootstrap.Modal('#modal');
      modal.show();
    });
  </script>
{% endblock %}
